body, .toc, .navbar, td, th, div,p {
	font-family: "Verdana", "Arial";
	font-size: 12px;
}

p {
	text-indent: 10px;
}

.toc0, .navbar, .content, .title, .version, .subchapterlink {
	padding: 3px;
	margin: 3px;
}

.subchapterlink {
	border: 1px dotted #faa;
	font-weight: bolder;
	font-size: 14px;
}

body {
	background-color: #eee;
}

.navbar, .title {
	border: 1px dashed #ccc;
	background-color: white;
}

.toc, .toc0 {
	margin: 5px;
	padding-left: 10px;
	text-align: left;
}

.toc0 {
	background-color: white;
}

.title {
	font-variant: small-caps;
	font-weight: bolder;
	text-align: left;
	padding-left: 30px;
	font-size: 12px;
}

.inlinetitle {
	font-align: left;
	background-color: #efefef;
	border: 1px dashed #eee;
	padding: 2px;
	font-weight: bolder;	
	padding-left: 10px;
	margin-top: 5px;
}

.content {
	background-color: white;
	padding: 10px;
}

.section {
	padding-left: 20px;
}

.term, .example, .block {
	font-family: "Monaco";
	font-size: 12px;
}

.def {
	padding-left: 15px;
	padding-bottom: 3px;
	font-size: 10px;
}

.version {
	border: 1px dotted #ddd;
	background-color: white;
	font-size: 13px;
	font-weight: bolder;
}

.heading {
	padding-top: 15px;
	padding-bottom: 7px;
	padding-left: 10px;
	font-weight: bolder;
}

.note {
	background-color: #ddd;
	padding: 2px;
	margin-top: 0px;
}

.example { margin-top: 0px; }

.notetitle { 
	background-color: #ccc; 
	font-family: "Monaco"; 
	font-size: 12px; 
	font-weight: bolder; 
	padding: 2px;
	padding-left: 20px;
	margin-bottom: 0px;
}

.block { 
	padding: 5px;
	background-color: #eee; 
}

.example { 
	padding: 5px;
	background-color: #eee; 
}

.padding, .block {
	margin-left: 15px;
	margin-right: 15px;
}